<div id="section">
<h1>About Us</h1>
<p>
This site is a project by <a href="andymention.com">Andy Mention</a> for <a href="www.turing.io">Turing</a>. 
It is a sort of proof of concept using an open source map stack involcint PostGIS, Ruby on Rails, and Leaflet.

There are some fun APIs you can use to get GeoJSONs for SNOTEL stations and Colorado Avalanche Information Center Forecast Zones.


</p>

<table>
  <tr>
    <td>SNOTEL Stations</td>
    <td><a href="www.colobackcountry.rocks/api/v1/snotel_stations.json">www.colobackcountry.rocks/api/v1/snotel_stations.json</a></td>
  </tr>
  <tr>
    <td>SNOTEL Station</td>
    <td>www.colobackcountry.rocks/api/v1/snotel_station/{station_id}.json</a></td>
  </tr>
  <tr>
    <td>CAIC Forecast Zones</td>
    <td><a href="www.colobackcountry.rocks/api/v1/avalanche_forecast_zones.json">www.colobackcountry.rocks/api/v1/avalanche_forecast_zones.json</a></td>
  </tr>
  <tr>
    <td>CAIC Forecasst Zone</td>
    <td>www.colobackcountry.rocks/api/v1/avalanche_forecast_zones/{zone_id}.json</a></td>
  </tr>
</table>
</div>
