#section{
  
  .small-map {
    height: 600px;
    @include span-columns(6);
  }

  #ski-place-information{
    @include linear-gradient(to top, red, orange);
    @include span-columns(3);
  }
}


.big-map {
  height: 800px;
  @include clearfix;
  position: relative;
  z-index: 9999;
}
