@include background-image(url("https://s3-us-west-1.amazonaws.com/cobackcountry/manitou_spgs_map.jpg"));
background-position: center top, center;
background-repeat: no-repeat, repeat-x;


body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-size: 14px;
  font-family: $lucida-grande;
}

p {
  font-family: $lucida-grande;
  @include outer-container;
}i

button {
  @include button(simple);
}

map {
  height: 300px;
  width: 400px;
}
