<br>
<div id="section">
  <h1>Create a new route</h1>


  <div id="form" class="small-map">
    <%= render partial: 'form' %>
  </div>
  <div id="pic" class="external-data full-width new-place-img">
    <%= image_tag("https://s3-us-west-1.amazonaws.com/cobackcountry/IMG_5820.jpg") %>
  </div>
</div>
