
<div id="section">
  <div id="map" class='small-map'>

  </div>

  <div id="article">
    <h2> <%= @ski_place.name %> </h2>

    <div id="snotel">
      <%= render partial: "snotel", locals: {ski_place: @ski_place} %>
    </div>

    <div id="description">
      <h4>Description</h4>
      <%= @ski_place.description %>
    </div>

    <%= link_to "Back", root_path %>
  </div>
</div>
